/* h1{
  text-align:center;
  color:navy
}
h3{
  text-align:center;
  color:blue
}
h4{
  text-align:center;
  color:navy
}
.list-container{
float: right;
max-width: 300px;
}
.cc-look {
  border: solid black 1px;
} */
